.headerName {
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 2rem;
    margin-bottom: 33px;
    h1{

        text-align: center;
        font-size: 37px;
    }
}
@media (max-width: 770px){
    .headerName {
        margin-bottom: 24px;
        letter-spacing: 1rem;
        margin-top: 29px;
        h1{
            font-size: 37px;
        }
    }
    
}
