.MainInfo {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
   
    .leftInformation {
        margin-right: 40px;
    }
    
}
// @media (max-width: 495px) {
//     .MainInfo {
//         width: 495px;
//         display: block;
//     }
// }







