.additionalCardsFromStrangler {
    display: flex;

    .daysDushnila {
        width: 336px;
        height: 383px;
        margin-right: 40px;
        padding-left: 20px;
        padding-top: 54px;
        background: #000;
        border-radius: 20px;

        h1 {
            margin-bottom: 124px;
            font-size: 55px;
            line-height: 55px;
            font-weight: 500;
            color: white;
        }

        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 296px;
            height: 63px;
            padding: 15px 30px;
            border: 1px solid white;
            border-radius: 100px;
            font-size: 25px;
            font-weight: 500;
            line-height: 25px;
            transition: .3s ease-in-out;
            cursor: pointer;
            &:hover{
                color: white;
                border: 1px solid white;
                background: #000;
            }
        }
    }
    .imgDushnilaCompany{
        img{
            width: 336px;
            height: 383px;
            border-radius: 20px;
            border: 1px solid black;
        }  
    }
}
@media (max-width: 495px) { 
    .additionalCardsFromStrangler{
        width: 495px;
        // display: block;
    }
}