.dushnilaEmotionGood {
    width: 713px;
    height: 493px;
    padding: 60px 0px 0px 60px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    background: rgba(122, 255, 167, 1);

    h2 {
        font-size: 89px;
        font-weight: 500;
        line-height: 89px;
        margin-bottom: 176px;
    }

    h3 {
        font-size: 34px;
        font-weight: 400;
        line-height: 34px;
    }
}